<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="realworld.user.repository.UserMapper">

    <select id="getProfileByUserName" resultType="realworld.user.Profile">
        select id,
        email,
        username,
        bio,
        image,
        exists
        (
        select 1
        from user_follow_user as ufu
        inner join user as u
        on u.id = ufu.follow_id
        where
        u.username = #{username}
        <choose>
            <when test="userId !=null">
                and ufu.user_id = #{userId}
            </when>
            <otherwise>
                and ufu.user_id = 0
            </otherwise>
        </choose>
        ) as following
        from user as u
        where u.username = #{username}
    </select>

    <select id="isAlreadyFollowed" resultType="java.lang.Boolean">
        select count(1)
        from user_follow_user
        where user_id = #{userId}
          and follow_id = #{followId}
    </select>

    <insert id="addFollow">
        insert into user_follow_user
        values (#{userId}, #{followId})
    </insert>
    <delete id="removeFollow">
        delete
        from user_follow_user
        where user_id = #{userId}
          and follow_id = (select id
                           from user
                           where user.username = #{username})
    </delete>
</mapper>

